// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$awesome-green: #73DC8C;
$background-color: #1E1919;
$awesome-grey: #363636;
$awesome-pink: #fa9bfa;
$awesome-blue: #4b78e6;


$background-color: #FAE5D5;
$main-orange-color: #FF6230;
$font-color: #3E4E50;
