// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$awesome-green: #73DC8C;
$awesome-grey: #363636;
$awesome-pink: #fa9bfa;
$awesome-blue: #4b78e6;

$background-card: rgba(254, 250, 247, 1);
$background-color: #FAE5D5;
$main-orange-color: #FF6230;
$searchbar-color:rgba(255, 98, 48, 0.84);
$card-orange:rgba(255, 98, 48, 0.78);
$card-icon: rgba(255, 218, 206, 1);
$card-green: rgba(60, 106, 38, 1);
$green-card-icon: #B6D2A8;
$font-color: #3E4E50;
$shadow-marron: rgba(129, 87, 54, 0.2);
