// Specific CSS for your home-page
body{
  background-color: $background-color;
  background-size: cover;
}

.home-container{
  max-width: 1024px;
  height: 100vh;
  padding-bottom: 3vh;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  img{
    width: 450px;
    height: 250px;
  }
}

.logo-and-slogan{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.moto h2{
  // font-family: Poiret One;
  // font-size: 25px;
  // color: $font-color;
  // font-weight:bolder;
  font-family: $body-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #3E4E50;
  margin-top: 40px;
}
