// Specific CSS for your home-page
body{
  background-color: $background-color;
  background-size: cover;
}

.banner{
  height: 50vh;
  padding-top: 1vh;
}

.moto {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.moto h2{
  font-family: Poiret One;
  font-size: 25px;
  color: $font-color;
  font-weight:bolder;
}

.form-container{
  display:flex;
  justify-content: center;
}
