<div class="home-container">
  <div class="banner">
    <div class="logo-and-slogan">
      <div class="logo text-center">
        <%= image_tag('logo.svg')%>
      </div>
    </div>
    <div class="searchbar">
      <form action="/pages" method="get">
        <input type="text" name="search[address]" placeholder="recherche une addresse" required :address>
        <i class="fa fa-search"><input type="submit" class="submit"></i>
      </form>
    </div>
  </div>
  <div class="moto">
    <h2>Trouve les producteurs <span data-controller="typed-js"></span></h2>
  </div>

  <div class="content">
    <div class="card">
      <div class="icon"><i class="fa fa-leaf"></i></div>
      <p class="title">Produits Bio</p>
      <p class="text">Cultures Bio certifiées par le Ministère de l'Agriculture.</p>
    </div>

    <div class="card">
      <div class="icon" id="card2"><i class="fa fa-tractor"></i></div>
        <p class="title">Producteurs locaux</p>
        <p class="text">Consomme local, où que tu sois.</p>
    </div>

    <div class="card">
      <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
        <p class="title">Itinéraire optimisé</p>
        <p class="text">Rend toi chez les producteurs alentours en un rien de temps.</p>
    </div>
  </div>
</div>
