<div class="banner">
  <div class="button">
    <%= link_to "Connexion", "#", class: "btn btn-ghost"%>
    <%= link_to "SignUp", "#", class: "btn btn-ghost"%>
  </div>
  <div class="logo">
    <%=image_tag('sleep.svg')%>
    <h1 class='biomap'>BioMap</h1>
  </div>
  <div class="moto">
    <h2>Find local organic farmers nearby.</h2>
  </div>
  <div class="searchbar">
    <form action="/pages" >
      <input type="search" required :address>
      <i class="fa fa-search"></i>
    </form>
  </div>
</div>


<div class="content">
  <div class="card">
    <div class="icon"><i class="fa fa-leaf"></i></div>
    <p class="title">Bio products</p>
    <p class="text">Bio crops certified by Ministry of Agriculture.</p>
  </div>
  <div class="card">
    <div class="icon"><i class="fa fa-tractor"></i></div>
      <p class="title">Local farmers</p>
      <p class="text">Consume local products wherever you are.</p>
    </div>
  </div>
</div>
