
<div class="index">
  <div class="filter-column">
    <div class="category-selector">
      <div>
        <input class="tag" type="checkbox" id="grains" name="drone" value="grains">
        <label for="grains">Grains</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="vegetables" name="drone" value="vegetables">
        <label for="vegetables">Vegetables</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="fruits" name="drone" value="fruits">
        <label for="fruits">Fruits</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="plants" name="drone" value="plants">
        <label for="plants">Plants</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="nuts" name="drone" value="nuts">
        <label for="nuts">Nuts</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="milk" name="drone" value="milk">
        <label for="milk">Milk</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="eggs" name="drone" value="eggs">
        <label for="eggs">Eggs</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="animal products" name="drone" value="animal products">
        <label for="animal products">Animal products</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="fish" name="drone" value="fish">
        <label for="fish">Fish</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="cheese" name="drone" value="cheese">
        <label for="cheese">Cheese</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="bread" name="drone" value="bread">
        <label for="bread">Bread</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="beverages" name="drone" value="beverages">
        <label for="beverages">Beverages</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="epicerie fines" name="drone" value="epicerie fines">
        <label for="epicerie fines">Epiceries fines</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="condiments" name="drone" value="condiments">
        <label for="condiments">Condiments</label>
      </div>

      <div>
        <input class="tag" type="checkbox" id="plats préparés" name="drone" value="plats préparés">
        <label for="plats préparés">Plats préparés</label>
      </div>
    </div>
    <input type="search" for="address">

    <div>
    <button type="submit">Submit</button>
  </div>
  </div>

  <div class="map" style="width:100%; height: 100vh;"
    data-controller="mapbox"
    data-mapbox-location-value="<%= @coordinates_hash.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-mapbox-api-url-value="<%= @search_url %>"
    ></div>
</div>
