<div class="index">
  <%= render "shared/side_search_col" %>

  <div class="map" style="width:100%; height: 100vh;"
    data-controller="mapbox"
    data-mapbox-location-value="<%= @coordinates_hash.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-mapbox-api-url-value="<%= @search_url %>"
    >
    </div>
</div>
