<div>
  <h3><%= producer['denominationcourante'] %></h3>
  <p><strong>Categories:</strong></p>
    <ul class="popup-infos" style="list-style: none;">
    <% categories = producer['productions'].map {|production| production['category']}.uniq %>
    <% categories.each do |category|%>
      <li>
      <%= category %>
      </li>
    <% end %>
  </ul>

  <p><strong>Productions:</strong></p>
  <ul style="list-style: none;">
    <% producer["productions"].each do |production| %>
      <li>
        <%= production["nom"] %>
      </li>
    <% end %>
  </ul>
  <a href="<%= producer['nav_link'] %>" target="_blank">Navigation</a>
</div>
