<div>
  <h2><%= producer['denominationcourante'] %></h2>
  <div class="popup-infos">
    <p><strong>productions:</strong></p>
    <ul>
      <% producer["productions"].each do |production| %>
        <li>
          <%= production["nom"] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
