.button{
  padding-right: 10px;
}

.btn {
  margin-left: 6px;
  font-size: 12px;
}

.btn-ghost {
  color: #e0dede;
  border: 1px solid #e0dede;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #e0dede;
}
