.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  background: #ffffff41;
  backdrop-filter: blur(8px);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: $body-font;
  font-size: 36px;
  color: $main-orange-color;
  i {
    font-size: 24px;
  }
}
.localize-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(129, 87, 54, 0.2);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: white;
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 325px;
  .localize-me{
    color: #979797;
    font-size: 18px;
    z-index: 2;
  }
  .localize-me:hover{
    color: #757575;
  }
}


.map{
  z-index: 0;
  position: sticky;
  top: 0;
  width:100%;
  height: 100vh;
}

.mapboxgl-popup-content {
  width: 350px;
  border-radius: 8px;
  border: 1px solid rgba(56, 62, 63, 0.28);
  box-shadow: 0px 0px 20px rgba(129, 87, 54, 0.2);
  background-color: $background-card;
  color: $font-color;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: $background-card;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: $background-card;
}

.mapboxgl-ctrl-geocoder {
  justify-content: center;
  width: 300px;
  height: 36px;
  border-radius: 16px;
}

.popup-banner {
  text-align: center;
  border-bottom: 1px solid $font-color;
}

.popup-banner {
  h3 {
    font-family: $body-font;
    font-weight: 400;
  }
}

.producer-infos {
  font-family: $body-font;
  color: $font-color;
  padding: 8px;
  border-bottom: 1px solid $font-color;
  p{
    margin: 0;
  }
  i{
    font-size: 16px;
  }
  .fas {
    margin-right: 5px;
  }
  .fa-plus-circle {
    margin-right: 0px;
  }
  .address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .address-add{
      color: $green-card-icon;
    }
    .address-add:hover{
      color: $card-green;
      cursor: pointer;
    }
  }
}

.product-infos {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 8px;
  border-bottom: 1px solid $font-color;
  margin-bottom: 8px;
  .category{
    text-align: left;
    font-family: $body-font;
    font-weight: normal;
    padding: 8px;
    border-radius: 8px;
    font-family: $body-font;
    background-color: $card-orange;
    color: $background-card;
    width: 35%;
    white-space: nowrap;
    overflow: hidden;
    p {
        margin-bottom: 8px;
        border-bottom: 1px solid $background-card;
    }
    ul {
      padding-left: 0;
      margin: 0;
      li {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .productions{
    text-align: left;
    font-family: $body-font;
    font-weight: normal;
    padding: 8px;
    margin-left: 8px;
    width: 65%;
    border-radius: 8px;
    font-family: $body-font;
    color: $card-orange;
    border: 1px solid $card-orange;
    white-space: nowrap;
    overflow: hidden;
    p {
      margin-bottom: 8px;
      border-bottom: 1px solid $card-orange;
    }
    ul{
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 0;
      margin: 0;
      li{
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.popup-footer {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.navigation {
  justify-self: center;
  text-decoration: none;
  font-family: $body-font;
  color: $card-green;
  padding: 8px 48px;
  border-radius: 50px;
  font-weight: bold;
  background-color: $green-card-icon;
  // opacity: 1;
  // transition: opacity 0.3s ease;
  border: 1px solid $green-card-icon;
}

.navigation:hover {
  // opacity: 0.8;
  border: 1px solid $card-green;
  background-color: $card-green;
  color: $background-card;
}

// .navigation-add {
//   align-items: flex-end;
//   font-size: 24px;
//   text-decoration: none;
//   color: $card-green;
//   opacity: 1;
//   transition: opacity 0.3s ease;
//   position: absolute;
//   right: 20px;
// }

// .navigation-add:hover {
//   opacity: 0.8;
//   color: $green-card-icon;
// }
