.filter-column {
  padding: 1rem 1rem;
  background-color: $background-color;
  width:30%;

  img{
    width: 70%;
  }

  h3 {
    padding-top: 1.5rem;
    color: $card-orange;
    box-shadow: inset 0 -0.4em 0 #FDF6F1;
    width: fit-content;
    font-family: $body-font;
    font-weight: 600;
  }
}

.cat-items {
  margin-top: 18px;
  display: inline-block;
}

.check {
  position: absolute;
  transform: scale(0);
}

.check + label {
  cursor: pointer;
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
  padding: 0.2rem 0.6rem;
  // font-size: 1rem;

  background-color: rgba(255, 255, 255, 0.66);
  border: 1px solid rgba(255, 98, 48, 0.96);
  border-radius: 31px;

  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  // display: flex;
  // align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(255, 98, 48, 0.96);

  justify-content: center;
}

.check:checked + label {
  color: rgba(255, 255, 255, 0.66);
  background-color: rgba(255, 98, 48, 0.96);
}

.btn{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.21em;
  color: #3E4E50;
}

.fa-crosshairs{
  color: rgba(129, 87, 54, 0.2);
}

.itinary-card{
  background: #FDF6F1;
  box-shadow: 0px 4px 4px rgba(129, 87, 54, 0.2);
  border-radius: 7px;

  .itinary-title{
    display:flex;
    justify-content: center;
  }

  h3{
    box-shadow: inset 0 -0.4em 0 #b6d2a8;
    color: #3C6A26;

    left: 3rem;
    // position: relative;
  }

  i{
    padding-top: 1.5rem;
    margin-bottom: 8px;
    padding-left: 0.5rem;
  }
}

.btn-nav-hidden {
  display: none;
}

ol {
  color: white;
}
