.filter-column {
  padding: 3rem 1rem;
  background-color: $awesome-black;
  width:30%;
  h3 {
    color: white;
    box-shadow: inset 0 -0.4em 0 #73dc8c;
    width: fit-content;
  }
}

.cat-items {
  margin-top: 31px;
  display: inline-block;
  text-align: center;
}

.check {
  position: absolute;
  transform: scale(0);
}

.check + label {
  cursor: pointer;
  color: $awesome-green;
  // width: 100%;
  background-color: none;
  border: 1px $awesome-green solid;
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
  padding: 0.2rem 0.6rem;
  text-align: center;
  border-radius: 50rem;
  font-size: 1rem;
}

.check:checked + label {
  color: $awesome-black;
  background-color: $awesome-green;
}
