.content {
  max-width: 1024px;
  width: 100%;
  padding: 0 4%;
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 310px;
  background: #FEFAF7;
  border: 1px solid rgba(56, 62, 63, 0.28);
  box-shadow: 0px 0px 20px rgba(129, 87, 54, 0.2);
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  padding: 30px 10px;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width:80px;
  background: rgba(255, 98, 48, 0.78);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

#card2{
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width:80px;
  background: rgba(60, 106, 38, 1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

i {
  font-size:25px;
}

// .material-icons.md-18 { font-size: 18px; }
// .material-icons.md-24 { font-size: 24px; }
// .material-icons.md-36 { font-size: 36px; }
// .material-icons.md-48 { font-size: 48px; }

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: #3E4E50;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: $body-font;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  color: #3E4E50;
  font-weight: normal;
  letter-spacing: 2px;
  opacity: 1;
  max-height:40px;
  transition: all 0.3s ease;
  font-family: $body-font;
}

.card:hover .info {
  height: 90%;
}

.card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
  background-color:#FFDACE;
  color: rgba(255, 98, 48, 0.78);
}

.card:hover #card2 {
  background-position: -120px;
  transition: all 0.3s ease;
  background-color:#C4D2BE;
  color: rgba(60, 106, 38, 1);
}
// .card:hover .icon i {
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   opacity: 1;
//   transition: all 0.3s ease;
// }
